{
    "tabWidth": 4,
    "insertPragma": true,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": ["**/*.mdx"],
            "options": {
                "semi": false,
                "insertPragma": false,
                "proseWrap": "always"
            }
        }
    ]
}
