<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Entry</title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <a href="/demo">Go to the demo page</a>
    </body>
</html>
